@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Gothic+A1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=BIZ+UDPMincho&family=Gothic+A1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=BIZ+UDPMincho&family=Gothic+A1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=BIZ+UDPMincho&family=Gothic+A1&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
*{
    margin: 0;
    padding: 0;
}
nav{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    border-radius: 8px;
    background: rgb(219, 223, 222);
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.16);
    margin: 24px 180px 0px 180px;
    padding: 15px 32px;
}
.socialLinks {
    display: flex;
    gap: 32px;
}
nav p {
    font-family: Gothic A1;
font-size: 17px;
font-weight: 400;
line-height: 24px;
text-align: right;
}
nav h1 {
    font-family: Abyssinica SIL;
font-size: 42px;
font-weight: 400;
line-height: 42px;
letter-spacing: -0.04em;
text-align: center;
}
header {
    padding: 48px;
    margin-bottom: 48px;
}
header h1 {
    margin-top: 96px;
    font-family: BIZ UDPMincho;
    font-size: 120px;
    font-weight: 400;
    line-height: 120px;
    letter-spacing: -0.02em;
    text-align: center;
    margin-bottom: 48px;
}

.projects {
    padding: 48px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 48px;
}
.projects h4{
    font-family: Gothic A1;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    
}
.projects p{
    font-family: Gothic A1;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.contact h3{
    margin-top: 96px;
    text-align: center;
    font-family: BIZ UDPMincho;
    font-size: 34px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: -0.01em;
    text-align: center;
}
.subscribe{
    display: flex;
    justify-content: center;
    padding: 48px 0;
    gap: 12px;
}
.subscribe input{
    padding: 12px;
    width: 431px;
    font-family: Gothic A1;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 8px;
}
.subscribe button{
    font-family: Roboto Mono;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    background: rgba(25, 51, 45, 1);
    color: rgba(250, 255, 254, 1);
    padding: 12px 24px;
    border-radius: 8px;
}
.social{
    display: flex;
    justify-content: center;
    gap: 32px;
}
footer{
    display: flex;
    padding: 96px 48px 24px 48px;
    justify-content: space-between;
}
footer h3{
    font-family: BIZ UDPMincho;
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.01em;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
}
footer button{
    font-family: Roboto Mono;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    padding: 12px 24px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 1)



}